* {
    margin: 0;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* ===================================================================
                header started here
=======================================================================
*/
#container {
    width: 1280px;
    background: black;
    border-radius: 20px;
    margin: 0 auto;

}

.container {
    width: 1280px;
    margin: 0 auto;
}

.description {
    color: white;
    padding: btn;
}

.description h1 {
    color: white;
    font-size: 50px
}

.description p {
    color: white;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.header-wrapper {
    display: flex;
}

.description,
.image {
    flex-basis: 46%;
}

.image {
    margin-right: 80px;
}

.image img {
    padding-left: 80px;
    height: 100%;
    padding-top: 20px;
    ;
}

.btn {
    padding: 15px 25px;
    background-color: rgb(246, 5, 5);
    color: white;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 25px;

}

/* ===================================================================
                header End here
=======================================================================
*/


/* ===================================================================
                main Started Here
=======================================================================
*/

main {
    margin: 80px 0;
}

.details-wrapper {
    display: flex;
    justify-content: space-between;
}

.vertical-menu {
    flex-basis: 20%;
}

.card-section {
    flex-basis: 75%;
}

.menu-wrapper {
    display: block;
    background: black;
    padding: 20px;
    border-radius: 10px;
}

.common-btn {
    padding: 20px 0px;
    margin: 12px 0;
    width: 100%;
    border-radius: 5px;
    font-weight: 700;

}

#special-color {
    background-color: red;
    color: white
}

.single-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.single-card {
    width: 300px;
    border: 1px solid rgb(241, 220, 220);
    border-radius: 10px;
}

.single-card img {
    width: 100%;
}

.card-desc {
    padding: 11px;

    border-top: none;
    border-radius: 10px;
}

.card-desc button {
    padding: 5px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(215, 196, 196);
}

.card-desc h4 {
    margin-bottom: 15px;
}

.card-reviews {
    color: rgb(137, 109, 109);
}

.card-reviews span {
    margin-left: 5px;
}
.show{
    display:none ;
}

/* ===================================================================
                main End Here
=======================================================================
*/
/* ===================================================================
               Footer started 
=======================================================================
*/
footer{
    background-color:black;
    color: white;padding: 40px 10px;
    text-align: center;
}
hr{
     border: none;
     height: 1px;
     background-color: rgb(32, 30, 30);
     margin: 20px 0;
}
ul{
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    padding: 0 50px;
}
.social-section {
    height: 20px;
    width: 170px;
    display: grid;
    margin: 10px 0;
    grid-template-columns: repeat(4, 1fr);
}

.social-section img {
    width: 32px;
    height: 32px;
    padding-top: 50px;
}